participants:
  - el_type: geth
    cl_type: lighthouse
network_params:
  preset: minimal
  network_id: "11155222"
  prefunded_accounts: '{
    "0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266": {"balance": "100ETH"},
    "0x70997970C51812dc3A010C7d01b50e0d17dc79C8": {"balance": "100ETH"},
    "0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC": {"balance": "100ETH"},
    "0x3fAB184622Dc19b6109349B94811493BF2a45362": {"balance": "1ETH"}
  }'
port_publisher:
  el:
    enabled: true
    public_port_start: 18543
  cl:
    enabled: true
    public_port_start: 15051