participants:
  - el_type: geth
    cl_type: lighthouse
network_params:
  preset: minimal
  network_id: "11155222"
  prefunded_accounts: '{
    "0xADDRESS": {"balance": "1000000ETH"},
    "0x3fAB184622Dc19b6109349B94811493BF2a45362": {"balance": "1ETH"}
  }'
port_publisher:
  el:
    enabled: true
    public_port_start: 18543 # JSON-RPC port 18545
  cl:
    enabled: true
    public_port_start: 15051 # Beacon API port 15052